@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");




/* Header Animation */
.header-animation {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
}

.header-animation text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365FA0;
  font-size: 100px;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
  }

  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: #FFFFFF
}

;
/* End Header Animation  */

.App {
  text-align: center;
  background-color: #dee2ff;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-group {
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#customForm {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.homepage-container .row {
  justify-content: center;
}

.homepage-container .col {
  margin: 10px;
  flex: 0 0 auto;
  text-align: center;
}

.homepage-container .btn-primary {
  padding: 20px;
  background: linear-gradient(to bottom, #ff8c00, #ff6700);
  color: white;
  font-weight: bold;
  border: 3px solid #ee7600;
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  border-radius: 70px;
  /* Rounded corners */
  box-shadow: 0 8px #999;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.1); */
  width: 40%;
  text-shadow: 1px 1px 2px black;
  transition: all 0.3s ease;
}

.homepage-container .btn-primary:hover,
.homepage-container .btn-primary:focus {
  transform: translateY(-2px);
  background: linear-gradient(to bottom, #ff6700, #ff8c00);
  border: 3px solid #ee7600;
  outline: none;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* border: solid;
  border-color: darkgrey; */
}