@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");




/* Header Animation */
.header-animation {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
}

.header-animation text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365FA0;
  font-size: 100px;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
  }

  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: #FFFFFF
}

;
/* End Header Animation  */

.App {
  text-align: center;
  background-color: #dee2ff;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-group {
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#customForm {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

h2 {
  text-align: center;
}

.CardPadding {
  margin: 20px;
  padding: 10px;
  background-color: #b3d9ff !important;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  color: white;
  text-align: center;
  width: 100%;
}

.homepage-container .row {
  justify-content: center;
}

.homepage-container .col {
  margin: 10px;
  flex: 0 0 auto;
  text-align: center;
}

.homepage-container .btn-primary {
  padding: 20px;
  background: linear-gradient(to bottom, #ff8c00, #ff6700);
  color: white;
  font-weight: bold;
  border: 3px solid #ee7600;
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  border-radius: 70px;
  box-shadow: 0 8px #999;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.1); */
  width: 40%;
  text-shadow: 1px 1px 2px black;
  transition: all 0.3s ease;
}

.homepage-container .btn-primary:hover,
.homepage-container .btn-primary:focus {
  transform: translateY(-2px);
  background: linear-gradient(to bottom, #ff6700, #ff8c00);
  border: 3px solid #ee7600;
  outline: none;
}


.trivia-review-container {
  margin: 30px auto;
  padding: 30px;
  width: 900px; 
  max-width: 100%;
  background-color: #80bfff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow-y: auto;
  max-height: 80vh;
}

.trivia-review-heading {
  color: #F8F8FF;  
  padding: 15px;
  font-size: 40px; 
  font-weight: bold; 
  text-shadow: 
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000;
}


.trivia-review-button {
  font-family: 'Fredoka One', cursive !important;
  width: 400px; 
  margin: 10px !important;
  font-size: 20px !important;
  padding: 10px 0; 
  background: linear-gradient(to bottom, #ff8c00, #ff6700); 
  color: white; 
  border: none !important; 
  border-radius: 70px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 0 3px rgba(255, 103, 0, 0.5);
}


.trivia-review-button:hover,
.trivia-review-button:focus {
  transform: translateY(-2px); 
  background: linear-gradient(to bottom, #ff6700, #ff8c00);
  border: 3px solid #ee7600;
  outline: none;
}

.category-container {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #99ccff; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.input-field {
  width: 90%; 
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #3498db;
  border-radius: 4px;
}

.input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2c3e50;
}

.trivia-button-container {
  margin: 10px;
  flex: 0 0 auto;
  text-align: center;
}


.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}